{% extends "layout.html" %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  Example - Branching - No
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

              <form action="/get-a-test/" method="post">

<h1 class="nhsuk-fieldset__legend--l">
        <span class="nhsuk-caption-l">Step 3 of 4</span>
        How do you want to get a test?
      </h1>


        <div class="nhsuk-form-group">



            {{ radios({
          "idPrefix": "symptoms",
          "name": "symptoms",
          "items": [
            {
              "value": "answer-collect",
              "text": "Collect a free test kit near you"
            },
            {
              "value": "answer-order",
              "text": "Order a free test kit online"
            },
            {
              "value": "answer-see",
              "text": "See a sexual health professional near you"
            }
          ]
        }) }}



        {{ button({
          "text": "Continue"
        }) }}

        {{ backLink({
          "href": "/examples/branching",
          "text": "Back to How to do branching"
        }) }}

        </form>

    </div>
  </div>
{% endblock %}
